USE [master]
GO
/****** Object:  Database [NegocioInversiones]    Script Date: 3/14/2024 12:56:09 PM ******/
CREATE DATABASE [NegocioInversiones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NegocioInversiones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NegocioInversiones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NegocioInversiones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NegocioInversiones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NegocioInversiones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NegocioInversiones]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/14/2024 12:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanRequest]    Script Date: 3/14/2024 12:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanRequest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[RequestedLoanAmount] [float] NOT NULL,
	[RequestedLoanTime] [int] NOT NULL,
	[LoanType] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LoanAmount] [float] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[RequestStatus] [int] NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[ApprovedAmount] [float] NOT NULL,
	[ApprovedInterestRate] [float] NOT NULL,
	[ApprovedTimeInMonths] [int] NOT NULL,
	[RequestClosingDate] [datetime2](7) NOT NULL,
	[EmployeeCode] [int] NOT NULL,
	[GeneralRequestId] [bigint] NOT NULL,
 CONSTRAINT [PK_LoanRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal_customer]    Script Date: 3/14/2024 12:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal_customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[MiddleName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[SecondLastName] [nvarchar](max) NULL,
	[customer_civil_id] [nvarchar](max) NOT NULL,
	[customer_civil_id_type] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[ResidentialPhoneNumber] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[CustomerDob] [datetime2](7) NOT NULL,
	[MonthlyIncome] [float] NOT NULL,
	[WorkPlace] [nvarchar](max) NULL,
	[CustomerAge] [int] NOT NULL,
	[CustomerProfileStatus] [int] NOT NULL,
	[WorkPlaceVerified] [bit] NOT NULL,
	[IncomeVerified] [bit] NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[LastTimeProfileUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_personal_customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request]    Script Date: 3/14/2024 12:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request](
	[request_id] [bigint] IDENTITY(1,1) NOT NULL,
	[request_type] [int] NOT NULL,
	[request_date] [datetime2](7) NOT NULL,
	[request_customer_id] [int] NOT NULL,
 CONSTRAINT [PK_request] PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoanRequest] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [GeneralRequestId]
GO
ALTER TABLE [dbo].[personal_customer] ADD  DEFAULT (N'') FOR [Gender]
GO
ALTER TABLE [dbo].[personal_customer] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [LastTimeProfileUpdated]
GO
USE [master]
GO
