:host {
  --BlueButton: #0b60b0;
  --OrangeBg: #ff5b00;
}

.customer-profile__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.page-container {
  max-width: 100%;
}
.options-list {
  display: flex;
  list-style: none;
  padding: 5px;
  margin: 0;
  background-color: white;
  box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, 0.564);
  border-radius: 2px;
  box-sizing: border-box;
  gap: 10px;
  height: clamp(30px, 40px, 45px);



  li {
    animation-timeline: view();
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--BlueButton);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    height: 100%;
    border: 1.5px solid transparent;
    box-sizing: border-box;
  }

  li:hover {
    transform: scale(1.03);
    background-color: #ff5b00;
  }

  .active {
   box-sizing: border-box;
    background-color: white;
    color: black;
    border-color: #ff5b00;
   
  }
  .active:hover {
    color: black;
    background-color: white;
    // background-color: lightgray;
    // border-bottom-color: transparent;
  }
}
