:host {
  --BlueButton: #0b60b0;
  --OrangeBg: #ff5b00;
}

* {
  font-size: 1.2rem;
}
.hide {
  display: none;
}

.show {
  display: flex;
  visibility: visible;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // background: #00000099;
  // z-index: 10000002;

  .search-box {
    background-color: lightgray;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    min-width: 40%;
    height: fit-content;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.448);

    .header {
      background-color: var(--OrangeBg);
      color: white;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px 10px;
      span {
        text-align: center;
        flex-grow: 1;
      }
      .close-btn {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: fit-content;
       
        height: 65%;
        width: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        svg {
          fill: white;
        }
      }
      .close-btn:hover {
        svg {
          fill: black;
        }
      }
    }

    form {
      padding: 15px;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      background-color: lightgray;
      gap: 20px;
      justify-content: center;
      .form-control {
        display: flex;
        flex-direction: column;
        height: 40%;

        input,
        select {
          border: transparent;
          border-radius: 5px;
          flex-grow: 1;
          // height: 30px;
        }
      }
    }
    .search-button {
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: #ff5b00;
      color: white;
      width: calc(100% - 30%);
      height: 35px;
      align-self: center;
      cursor: pointer;
      transition: 0.1s ease-in-out;
      align-self: center;
      margin-top: 5px;
    }
    .search-button:hover {
      border-color: var(--OrangeBg);
      color: #0b60b0;
      background-color: white;
    }
  }
}
.search-result {
  background-color: white;
  display: flex;
  align-items: center;

  border-radius: 5px;
  padding: 5px;
  min-height: 10px;
}
