.loan-request-item {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(124, 121, 121, 0.715);

  .header {
    border-bottom: 1px solid;
  }

  .content {
    display: flex;
    padding: 5px;
  }
}

.profile-options__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: rgba(211, 211, 211, 0.822);
  border-radius: 7px;
  list-style: none;
  padding: 5px 10px;
  margin: 5px 0px;

  box-sizing: border-box;
  height: clamp(10px, 40px, 45px);

  li {
    display: flex;
    border: 1px solid transparent;
    max-height: 100%;
    align-items: center;
    background-color: var(--OrangeBg);
    color: white;
    width: fit-content;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }

  li:hover {
    align-items: center;
    background-color: white;
    color: black;
    border-color: #0b60b0;
  }
}
