<section>
  <div class="header">
    <button>Crear reclamacion</button>
  </div>

  <div class="section">
    <h3>Historial de reclamaciones (1)</h3>

    <table>
      <tr>
        <th>Id. reclamacion</th>
        <th>Fecha</th>
        <th>Descripcion</th>
        <th>Status</th>
      </tr>
      
        <tr >
          <td >237667498</td>
          <td>12/02/2024</td>
          <td class="desc-td">
            Cliente intento depositar en el ATM 044, y el cajero le mostro error
            y no devolvio el dinero. Cliente dice no refleja el dinero en su
            cuenta
          </td>
          <td>Abierta</td>
          <td><a href="#">Ver detalles de reclamacion</a></td>
        </tr>
      
    </table>
  </div>
</section>
