<div class="validator-box" [ngClass]="showValidator == true ? 'show' : 'hide'">
  <app-identity-validator
    (customerData)="validateCustomer($event.value)"
    (modalToggler)="showValidator = $event"
    [canCloseModal]="true"
    [isLoading]="isLoadingCustomerInfo"
    [ApiResponseMessage]="apiError"
    [isSubmitted]="isSubmitted"
  ></app-identity-validator>
</div>

<main>
  <h3>Formulario de creacion de prestamo</h3>
  <divider></divider>
  <form [formGroup]="createLoanForm" class="loan-form">
    <div class="customer-section">
      <h3>Datos del cliente</h3>
      <div class="form-control">
        <label for="">ID Cliente</label>
        <input
          type="text"
          value="{{ customer && customer.id }}"
          disabled
          readonly
        />
      </div>
      <div class="form-control">
        <label for="">Documento de identidad</label>
        <input
          type="text"
          value="{{ customer && customer.civilId }}"
          formControlName="BeneficiaryCustomerId"
          readonly
        />
      </div>
      <div class="form-control">
        <label for="">Nombres</label>
        <input
          readonly
          value="{{
            customer && customer.firstName + ' ' + customer.middleName
          }}"
          disabled
        />
      </div>
      <div class="form-control">
        <label for="">Apellidos</label>
        <input
          readonly
          value="{{
            customer && customer.lastName + ' ' + customer.secondLastName
          }}"
          disabled
        />
      </div>
    </div>

    <div class="loan-section">
      <divider></divider>
      <h3>Informacion del prestamo</h3>
      <div class="form-control">
        <label for="">Monto prestamo</label>
        <input formControlName="Amount" placeholder="Monto del prestamo" />
      </div>
      <div class="form-control">
        <label for="">Tasa de interes (%)</label>
        <input formControlName="Interest" placeholder="Tasa de interes (%)" />
      </div>
      <div class="form-control">
        <label for="">Plazo en meses</label>
        <select name="" id="" formControlName="PlazoEnMeses">
          <option disabled [defaultSelected]="true">Seleccion un plazo</option>
          @for( number of plazoMaximoEnMeses;track number){
          <option>{{ number }}</option>
          }
        </select>
      </div>
    </div>

    <button class="create-loan__btn" (click)="createLoan()">
      Crear prestamo
    </button>
  </form>
</main>
